<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
</head>
<body>
    <h1>Autism Resources</h1>
    <p>Here are some useful resources:</p>
    <ul>
        <li><a href="https://www.autismspeaks.org/">Autism Speaks</a></li>
        <li><a href="https://www.nimh.nih.gov/health/topics/autism-spectrum-disorders-asd">National Institute of Mental Health</a></li>
    </ul>
</body>
</html>
